.redesHead{
	width: 25px;
	height: 25px;
	display: table;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 13px;
}
.redesHead img{
	width: 25px;
	height: 25px;
	position: absolute;
	left: 2px;
	top: 0px;
}
.jumbotron{
	height: 350px;
	background: #0091BE;
	background: url(../image/HTML5_sticker1.png), #0091BE;
	background-position: center;
	background-repeat: no-repeat;
}
.imgPerfil{
	width: 190px;
	position: relative;
	top: 160px;
}
footer{
	height: 50px;
	line-height: 50px;
	text-align: center;
}





/***********
portafolio
***********/
.col-md-4{
	margin-top: 30px;
}
.portafolio{
	width: 250px;
	height: 250px;
	overflow: hidden;
	display: block;
	margin: auto;
	cursor: pointer;
	border:1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #8F8F8F;
}
.portafolio .boxPortafolio{
	position: relative;
	width: 250px;
	height: 250px;
	background: rgba(0,0,0,0.4);
	top: -250px;
	opacity: 0;

}
.portafolio .boxPortafolio p{
	width: 230px;
	display: block;
	margin: auto;
	margin-top: 35px;
	color: #FFF;
	text-align: justify;
}
.portafolio .boxPortafolio h1{
	text-align: center;
	color: #FFF;
	margin: 0;
	padding: 0;
	font-size: 20pt;
	padding-top: 10px;
}
.portafolio .boxPortafolio a{
	width: 230px;
	display: block;
	margin: auto;
	margin-top: 35px;
	color: #FFF;
	text-align: justify;
}
.portafolio img{
	margin-top: 0px;
}









/***********
lenguajes
***********/
.lenguajes{
	width: 250px;
	height: 250px;
	overflow: hidden;
	display: block;
	margin: auto;
	cursor: pointer;
	border:1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #8F8F8F;
}
.lenguajes .boxlenguajes{
	position: relative;
	width: 250px;
	height: 250px;
	background: rgba(0,0,0,0.4);
	top: -250px;
	opacity: 0;

}
.lenguajes .boxlenguajes p{
	width: 230px;
	display: block;
	margin: auto;
	margin-top: 35px;
	color: #FFF;
	text-align: justify;
}
.lenguajes .boxlenguajes h1{
	text-align: center;
	color: #FFF;
	margin: 0;
	padding: 0;
	font-size: 20pt;
	padding-top: 10px;
}
.lenguajes .boxlenguajes a{
	width: 230px;
	display: block;
	margin: auto;
	margin-top: 35px;
	color: #FFF;
	text-align: justify;
}
.lenguajes img{
	margin-top: 0px;
}
.twitter{
	text-align: center;
}
.pinterest{
	text-align: center;
	
}
.btn-cv{
	position: relative;
	left: 202px;
	top: 54px;
}

@media screen and (max-width: 590px){
	.btn-cv {
	    position: relative;
	    left: 6px;
	    top: 150px;
	    margin-top: 3px;
	}
	.page-header{
		margin-top: 110px;
	}
}